* {
  -ms-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: "M PLUS Rounded 1c", serif;
  font-size: 16px;
}

a {
  display: inline-block;
}
a:link, a:visited, a:active {
  color: inherit;
  text-decoration: none;
}
@media screen and (min-width: 769px) {
  a:hover {
    color: inherit;
    opacity: 0.7;
    text-decoration: none !important;
  }
}

ul {
  padding-left: 0;
}

li {
  list-style-type: none;
}

.pc {
  display: none;
}
@media screen and (min-width: 769px) {
  .pc {
    display: block;
  }
}

.sp {
  display: block;
}
@media screen and (min-width: 769px) {
  .sp {
    display: none !important;
  }
}

.pc-inline {
  display: none;
}
@media screen and (min-width: 769px) {
  .pc-inline {
    display: inline;
  }
}

.sp-inline {
  display: inline;
}
@media screen and (min-width: 769px) {
  .sp-inline {
    display: none;
  }
}

.minus-space {
  margin-left: -0.4em;
}

img {
  max-width: 100%;
}

.pb10 {
  padding-bottom: 10px;
}

.t-mini {
  font-size: 0.75em;
}

.container {
  padding: 0 20px;
}

#header {
  display: none;
  width: 375px;
  height: auto;
  position: fixed;
  background-color: rgba(217, 217, 217, 0.3);
  z-index: 999;
  padding: 5px 0;
}
#header.show {
  display: block;
}

.site-title {
  display: block;
  width: 30%;
  margin: 0 auto;
}

.split-container {
  display: flex;
}

@media screen and (min-width: 769px) {
  .left-side, .right-side {
    width: calc((100vw - 375px) / 2);
    background-color: whitesmoke;
  }
}

@media screen and (min-width: 769px) {
  .left-side {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pc-logo {
  display: none;
  width: 60%;
  height: auto;
  margin: auto;
  border-radius: 16px;
}
.pc-logo.d-flex {
  display: flex;
}

@media screen and (min-width: 769px) {
  .right-side {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.pc-link {
  display: none;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: auto;
  margin: auto;
  padding: 1em;
  border-radius: 8px;
  box-shadow: 0 5px 0 #ca1c30;
}
.pc-link:hover {
  box-shadow: none;
  transform: translateY(5px);
}
.pc-link.d-flex {
  display: flex;
}

.center-side {
  width: 100%;
  min-height: 100vh;
}
@media screen and (min-width: 769px) {
  .center-side {
    width: 375px;
  }
}

#footer {
  display: none;
  width: 375px;
  z-index: 999;
  position: fixed;
  bottom: 0;
  height: 80px;
}

.footer-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
}

.ticket-link {
  background-color: rgba(255, 131, 131, 0.8);
}
.ticket-link._shiny {
  position: relative;
  overflow: hidden;
  transition: 300ms;
}
.ticket-link._shiny::before {
  position: absolute;
  content: "";
  display: inline-block;
  top: -180px;
  left: 0;
  width: 30px;
  height: 100%;
  background-color: rgba(255, 236, 131, 0.5);
  transition: 300ms;
  animation: shinyshiny 2.5s ease-in-out infinite;
}
.ticket-link._shiny:hover {
  text-decoration: none;
  box-shadow: none;
}
.ticket-link span {
  display: inline-flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
}
.ticket-link span img {
  width: 14px;
  height: 14px;
  margin-left: 0.5em;
}

@keyframes shinyshiny {
  0% {
    transform: scale(0) rotate(45deg);
    opacity: 0;
  }
  80% {
    transform: scale(0) rotate(45deg);
    opacity: 0.5;
  }
  81% {
    transform: scale(4) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(50) rotate(45deg);
    opacity: 0;
  }
}