.mv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url(./../img/bg_mv.jpg);
  background-size: cover;
  padding: 30px 10px;
  position: relative;
}
.mv_logo {
  width: 70%;
  margin: 0 auto;
}

.project-name {
  color: #000000;
  font-family: "RocknRoll One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 18px;
}

html, body, main, .center-side, .split-container, .sv {
  position: relative;
  height: 100%;
}

swiper-container {
  width: 100%;
  height: 100%;
}

swiper-slide {
  text-align: center;
  font-size: 18px;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 90px 5%;
}
.section_container {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7960784314);
  padding: 7.5% 5%;
  border-radius: 8px;
}
.section_title {
  font-family: "Inria Sans", serif;
  font-size: 28px;
  font-weight: 700;
  margin: 0 0 0.5em;
}

#section01 {
  background-color: #FFD1C2;
}

#section02 {
  background-color: #FAFFBA;
}

#section03 {
  background-color: #BFFFBF;
}

#section04 {
  background-color: #C8F1FF;
}

#section05 {
  background-color: #E8DCFF;
}

#section06 {
  background-color: #FFCCF3;
}

.about_text {
  font-size: 14px;
}

.performer_content ul {
  display: flex;
  flex-wrap: wrap;
}
.performer_content ul li {
  width: 50%;
}

.movie_content {
  width: 100%;
}
.movie_content iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

.map_content {
  width: 100%;
}
.map_content iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.info_content ul {
  width: 90%;
  margin: 1em auto;
}
.info_content ul li {
  text-align: left;
  margin-bottom: 0.75em;
  border-bottom: 1px solid #000;
}
.info_content ul li span:first-child {
  font-weight: bold;
}

.sponcer_content ul {
  display: flex;
  flex-wrap: wrap;
}
.sponcer_content ul li {
  width: 50%;
  border: 1px solid #e9e9e9;
  aspect-ratio: 16/9;
  -o-object-fit: contain;
     object-fit: contain;
}
.sponcer_content ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 8px;
}