@charset "UTF-8";

@import "bp";

.mv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(./../img/bg_mv.jpg);
    background-size: cover;
    padding: 30px 10px;
    position: relative;
    &_logo{
        width: 70%;
        margin: 0 auto;
    }
}
.project-name{
    color: #000000;
    font-family: "RocknRoll One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 18px;
}

html,body,main,.center-side,.split-container,.sv{
    position: relative;
    height: 100%;
}
swiper-container {
    width: 100%;
    height: 100%;
}

swiper-slide {
    text-align: center;
    font-size: 18px;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    padding: 90px 5%;
    &_container{
        width: 100%;
        background-color: #ffffffcb;
        padding: 7.5% 5%;
        border-radius: 8px;
    }
    &_title{
        font-family: "Inria Sans", serif;
        font-size: 28px;
        font-weight: 700;
        margin: 0 0 0.5em;
    }
}

#section01{
    background-color: $bg01;
}
#section02{
    background-color: $bg02;
}
#section03{
    background-color: $bg03;
}
#section04{
    background-color: $bg04;
}
#section05{
    background-color: $bg05;
}
#section06{
    background-color: $bg06;
}

.about{
    &_content{
        
    }
    &_text{
        font-size: 14px;
    }
}
.performer{
    &_content{
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 50%;
            }
        }
    }
}
.movie{
    &_content{
        width: 100%;
        iframe{
            width: 100%;
            height: auto;
            aspect-ratio: 16/9;
        }
    }
}
.map{
    &_content{
        width: 100%;
        iframe{
            width: 100%;
            height: auto;
            aspect-ratio: 1/1;
        }
    }
}
.info{
    &_content{
        ul{
            width: 90%;
            margin: 1em auto;            
            li{
                text-align: left;
                margin-bottom: 0.75em;
                border-bottom: 1px solid #000;
                span:first-child{
                    font-weight: bold;
                }
            }
        }
    }    
}
.sponcer{
    &_content{
        ul{
            display: flex;
            flex-wrap: wrap;
            li{
                width: 50%;
                border: 1px solid #e9e9e9;
                aspect-ratio: 16 / 9;
                object-fit: contain;
                a{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    padding: 8px;
                }
            }
        }
    }
}